@keyframes typing {
    from{width:0}
    to{width:35%;}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}
@keyframes load{
    from{
        opacity:0;
        margin-top:300px;
        margin-right:50px;;  
    }
    to{
        opacity:1;
        margin-top: 0;
    }
}


@keyframes navload{
    from{
        margin-bottom:300px;
        opacity:0
    }
    to{
       background-color: black;
        margin-top: 0;
        opacity:1
    }
}



@keyframes navunload{
    from{
        margin-bottom:300px;
        opacity:1
    }
    to{
        margin-top: 0;
        opacity:0
    }
}


